.product-top{
  display: flex;
  justify-content: flex-start;
}

#show-header {
  color: black;
  margin-left: 30px;
}


#like-button {
  color: #888;
  font-size: 1.5em;
  font-family: 'Heebo', sans-serif;
  background-color: transparent;
  border: 0.1em solid;
  border-radius: 1em;
  padding: 0.333em 1em 0.25em;
  line-height: auto;
  box-shadow: 0 0.25em 1em -0.25em;
  cursor: pointer;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
  outline: 0;
  margin: 5em 0;
  &:hover {
    color: indianred;
  }

  &:active {
    transform: scale(0.95);
  }

  &.selected {
    color: #FFF;
    background-color: $red;
    border-color: $red;
  }

  .heart-icon {
    display: inline-block;
    fill: currentColor;
    width: 0.8em;
    height: 0.8em;
    margin-right: 0.2em;
  }
}

body {
  text-align: center;
}

.description-card {
  overflow: hidden;
  background: rgb(240, 240, 240);
  width: 1000px;
  -webkit-transform: translate(0, -8px);
	-moz-transform: translate(0, -8px);
	-ms-transform: translate(0, -8px);
	-o-transform: translate(0, -8px);
	transform: translate(0, -8px);
  box-shadow: 10px 10px rgba(0, 0, 0, 1.0);
  margin: 0 auto;
  box-sizing: content-box;
}

#description-text {
  display: block;
  margin: 20px 20px 20px 20px;
}

$b: #32cbfb;
$w: #fff;
$g: #e4e2e5;
$r: #fc3359;
$y: #fefb3a;
$bl: #222;
$t: rgba(255,255,255,0.00001);

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-esg {
  border-radius: 25px;
  box-shadow: -3px 2px 1px rgba(0, 0, 0, 0.3);
  height: fit-content;
  margin-bottom: 10px;
}
.card-head-esg  {
  position: relative;
  height: 50px;
  background: #117083;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #117083 8%, #0808c1 83%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #117083 8%, #0808c1 83%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #117083 8%, #0808c1 83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 25px 25px 0 0;
}

.card-head-esg-env{
  background: #065915;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #065915 8%, #1c7c13 83%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #065915 8%, #1c7c13 83%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #065915 8%, #1c7c13 83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 25px 25px 0 0;
}

.card-head-esg-soc{
  background: #2ec7ca;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #2ec7ca 8%, #327c8f 83%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #117083 8%, #327c8f 83%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #117083 8%, #327c8f 83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 25px 25px 0 0;
}

.card-head-esg-gov{
  background: #eb9307;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #8f8629 8%, #eb9307  83%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #8f8629 8%, #eb9307  83%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #8f8629 8%, #eb9307  83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 25px 25px 0 0;
}
.esg-detail {
  padding: 0 20px;
  font-size: 11px;
  color: #fff;

  h2 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
}

.card-body-esg {
  height: fit-content;
  background: #fff;
  border-radius: 0 0 25px 25px;
}

.esg-title h2{
  padding: 20px 20px 5px 20px;
  display: block;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.badge {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  background: #11e95b;
  padding: 2px 5px;
  border-radius: 4px;
  top: -2px;
  margin-left: 5px;
}
