
.product-banner {
  background: rgb(2,19,48);
  background: linear-gradient(90deg, rgba(2,19,48,1) 0%, rgba(17,47,82,1) 31%, rgba(155,191,212,1) 100%);
  min-height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  opacity: 0.6;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.product-info {
  background-color: #e5e5e5;
  padding: 56px 40px;
  width: fit-content;
}

.stock-info {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  margin: 0;
}



.product-show-buttons {
  display: flex;
}

body {
  text-align: center;
}

.product-intro {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.description-card {
  width: 400px;
  height: fit-content;
  text-align: start;
  font-size: 20px;
  overflow: hidden;
  background: white;
  box-shadow: 10px 10px rgba(0, 0, 0, 1.0);
}

#description-text {
  padding: 32px;
}

$b: #32cbfb;
$w: #fff;
$g: #e4e2e5;
$r: #fc3359;
$y: #fefb3a;
$bl: #222;
$t: rgba(255,255,255,0.00001);
