<div class="container">
  <h2 class="page-header">Issues</h2>
  <div class="row">
    <% @issues.each do |issue| %>
      <div class="card" style="width: 18rem;">
        <img src="<%= issue.image_url %>" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"> <%= issue.issue_name %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
