<footer class="text-center text-white mt-auto" style="background-color: white;">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/jchapps"
        target="_blank"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github" style="color: green"></i
      ></a>
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/carlawlls"
        target="_blank"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github" style="color: pink"></i
      ></a>
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/ayakayaka"
        target="_blank"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github" style="color: purple"></i
      ></a>
      <a
        class="btn btn-link btn-floating btn-lg m-1"
        href="https://github.com/billcookie"
        target="_blank"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github" style="color: orange"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(5, 40, 77), color: white;">
    © 2022 Copyright:
    <a class="text-dark" href="https://tofuture.co/">tofuture.co</a>
  </div>
  <!-- Copyright -->
</footer>
