<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <div class="col-sm-4">
    <%= form_tag products_path, method: :get, class: "d-flex my-3" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search"%>
      <%= submit_tag "Search", class: "btn btn-primary", style: "border: none" %>
    <% end %>
  </div>
</div>
