<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "banner.jpg" %>);">
  <div class="home-navbar">
    <%= render "shared/navbar" %>
  </div>
  <div class="container">
    <div class="banner-text">
      <h1>toFuture</h1>
      <p>Invest in <strong>change</strong>.</p>
      <a class="btn btn-ghost" href="#">Browse</a>
    </div>
  </div>
</div>
