.about-us-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.about-us-img-div {
  width: 300px;
  height: auto;
  text-align: center;

}

.about-us-img {
  width: 300px;
  height: auto;
  object-fit: cover;
}

.about-us-information {
  padding: 50px;
}
