.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: grey;
}

.btn-flat {
  color: white;
  padding: 5px 24px;
  border-radius: 20px;
  background: #05284d;
  transition: background 0.4s ease;
  width: 100%;
  font-size: 14px;
}

.btn-flat a {
  color: white;
}

.btn-flat:hover {
  background: grey;
  color: white;
  border-color: grey;
}

/* Yellow Button */
.yellow-button {
  align-items: center;
  background-color: $btn-color;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 30px;
}
.yellow-button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}
.yellow-button a {
  display: inline;
}

.yellow-button:hover:after {
  transform: translate(0, 0);
}

.yellow-button:active {
  background-color: white;
  outline: 0;
}

.yellow-button:hover {
  outline: 0;
}

.trending-btn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.show-button-mg {
  margin-top: 45px;
  margin-left: 30px;
}

.show-button {
  padding: 10px 24px;
  border: unset;
  border-radius: 10px;
  color: rgb(230, 230, 230);
  background: #02162a;
  position: relative;
  font-size: 16px;
  -webkit-box-shadow: 2px 2px 2px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 2px 2px 2px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.button-form {
  display: flex;
}

.show-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.show-button:hover {
  color: #e8e8e8;
}

.show-button:hover::before {
  width: 100%;
}

.like-button {
  color: #888;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px 24px;
  line-height: auto;
  box-shadow: 0 0.25em 0.5em -0.25em;
  cursor: pointer;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out,
    transform 150ms ease-in-out;
  outline: 0;
  &:hover {
    color: indianred;
  }

  &:active {
    transform: scale(0.95);
  }

  &.selected {
    color: #fff;
    background-color: $red;
    border-color: $red;
  }

  .heart-icon {
    display: inline-block;
    fill: currentColor;
    width: 0.8em;
    height: 0.8em;
    margin-right: 0.2em;
  }
}

.red-button {
  background-color: red;
}

.modal-btn {
  background-color: rgb(15, 15, 15);
  color: white;
  font-size: 10px;
  border: 1px solid white;
  padding: 2px 8px;
  border-radius: 5px;
  margin-top: 24px;
  transition: 0.5s ease;
}

.modal-btn:hover {
  background-color: #031532;
}
