.esg-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

@media (max-width: 950px) {
  .esg-container {
    flex-direction: column;
  }
}

.esg-rating {
  height: 28vmin;
  min-width: fit-content;
  background-color: rgb(15, 15, 15);
  text-align: end;
  padding: 0 40px;
  border-bottom: 10px solid #031532;

  h2 {
    color: white;
    text-align: end;
    padding-top: 20px;
    font-weight: 300;
  }
}

.esg-box {
  min-width: 28vmin;
  height: 28vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  font-size: 16px;
  background-color: #02162a;
}


h3 {
  color: white;
  font-size: 24px;
  text-align: center;
  font-weight: 300;
}
span.num {
  color: #ffffff;
  display: grid;
  place-items: center;
  font-size: 40px;
  font-family: 'Oswald';
  font-weight: 300;
}

span.text {
  color: #e0e0e0;
  font-size: 15px;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 0;
  margin-bottom: 5px;
}
