.card-issue {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: fit-content;
  color: white;
  width: 275px;
}

.card-issue-head {
  position: relative;
  height: 165px;
  width: 400px;

  /* Old browsers */

  /* FF3.6-15 */

  /* Chrome10-25,Safari5.1-6 */

  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 25px 25px 25px 25px;
  background-position: center;
}

.issue-h2 {
  position: relative;
  color: black;
  font-weight: 200;
  text-decoration: none;
  margin-top: 25px;
}

.card-issue h2 {
  position: absolute;
  left: 90px;
  bottom: 5px;
}

.issue-info {
  margin-top: 30px;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.issue-explanation {
  color: black;
  width: 600px;
  height: 170px;
  padding: 10px;
}

.explanation {
  background-color: #f0f0f0;
  padding: 30px;
}
.issue-image {
  margin-top: 30px;
}

.display-issues {
  display: flex;
  justify-content: space-around;
}
