.news-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  width: 500px;
}

.card-news {
  border-radius: 25px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0 / 30%);
  height: fit-content;
  color: white;
  width: 400px;
  display: flex;
  flex-direction: row;
  height: 100px;
  gap: 35px;
  background-color: #f0f0f0;
}

.card-news-head {
  position: relative;
  height: 100px;
  width: 120px;

  /* Old browsers */

  /* FF3.6-15 */

  /* Chrome10-25,Safari5.1-6 */

  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 25px 25px 25px 25px;
  object-fit: cover;
  background-size: cover;
  flex-shrink: 0;
}

.card-news h3 {
  height: 20px;
  color: black;
}

.card-news p {
  color: black;
  word-wrap: none;
  font-size: 12px;
  text-overflow: ellipsis;
  height: 36px;
  overflow: hidden;
  width: 245px;
}

.card-news h1 {
  font-size: 18px;
  font-weight: 600px;
  padding: 0;
}

.card-news a {
  font-size: 10px;
  text-overflow: ellipsis;
}

.news-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news-header {
  padding: 0;
}
