.card-product {
  overflow: hidden;
  background: rgb(240, 240, 240);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 260px;
  height: auto;
  margin-bottom: 16px;
  position: relative;
  padding: 16px;
  border-radius: 5px;
}

.card-product-body {
  height: fit-content;
  background: #fff;
  border-radius: 0 0 25px 25px;
  padding: 16px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 96px;
}

.ticker-h1 {
  text-align: start;
  padding: 10px 0;
  font-weight: 300;
}

.esg-h1 {
  font-size: 24px;
  font-weight: 300;
  font-family: 'Oswald';
}

.card-product h2 {
  font-size: 18px;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.card-product p {
  font-size: 16px;
  opacity: 1;
  margin: 0;
  text-align: left;
  padding: 5px 0;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.issue-icons {
  display: flex;
  justify-content: space-evenly;
  padding: 16px 0 4px 0;
}


// Grid

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
