// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

h1 {
  color: black;
  padding: 40px 0;
  font-weight: 200;
}

body {
  background-color: white;
}

/*
.page {
  background-color: rgb(15, 15, 30);
  height: 100vh;
}
*/
